


.but-image {
  width: 25%;
  height: 100%;
  float: right;
}

.but-image img{
  width: 100%;
  height: 90%;
  padding: 4px;
}


.but-image img:hover{
  opacity: .6;
  background-color: grey;
  padding-top: 2.5%;
  padding-right: 2.5%;

}

.desk-nav{
  display: none;
}


nav{
  position: fixed;
  width: 100%;
  height: 10%;
  z-index: 20;
  background-color: white;
}


.nav-logo{
  width: 75%;
  height: 100%;
  float: left;
}
.nav-logo img{
  width: 90%;
  height: 100%
}



@media screen and (min-width: 768px), all and (orientation: landscape) {

  .but-image{
    display: none;
  }

  .closebtn{
    visibility: hidden;
  }

  .desk-nav{
    display: block;
    position: fixed;
    z-index: 10;
    background-color: transparent;
    width: 18%;
    margin-top: 5%;
  }

  .desk-navbar{
    display: block;
    z-index: 10;
    position: fixed;

    width: 18%;
    background-color: transparent;
    left: 0;
    padding-top: 100px;
  }

  .desk-navbar a{
    color: black;
  }

  .desk-navbar a:hover{
    background-color: blue;
  }

  .desk-nav a{
    padding:10px 6px 3px 13px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    transition: 0.3s;
    color: black;
    position: relative;
  }

  .desk-nav a:hover{
    background-color: #B19100;
  }


  nav{
    background-color: grey;
    height: 100%;
    width: 18%;
    position: fixed;
  }

  .nav-logo{
    width: 100%;
  }

  .nav-logo img{
    width: 100%;
    float: left;
    height: auto;
    z-index: 10;
  }



}
