.bkground{
  background-size: 1000px;
  position: fixed;
  height: 100%;
  width: 100%;
  background-image:url("../images/bg-1.png");
}
h1{
  background-color: #ffffff;
  opacity: 0.8;
  height: 9vh;
  padding: 11px;
}

.train-plan-image{
  height: 50vh;
  margin-bottom: 10vh;
  margin-left: -2%;
  overflow-x: scroll;
  position: relative;
  width: 100%;
}

.train-plan-image img{
  position: absolute;
}

.video-content{
  position: relative;
  width: 100%;
  height: auto;
}


@media screen and (min-width: 768px), all and (orientation: landscape) {

  .train-plan-image{
    margin-left: 0%;
  }

  .train-plan-image img{
  }

  .video-content{
    position: relative;
    width: 580px;
    height: 480px;
  }

}
